@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
}

:root{
  --color--primary: #17141F;
  --color--secondary: #FFFFFF;
  --gray--text: #ffffffb3;
}


body {
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    background-color: var(--color--primary);
    letter-spacing: 0.5px;
}
